.bg-section {
  width: $w-full;
  height: $h-10 * 7;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &::after {
    content: "";
    width: $w-full;
    height: $h-full;
    position: absolute;
    top: 0;
    left: 0;
    background: $bg-black-rgba-lg;
    z-index: 1;
  }
}