.contact {
  transition: background-color $transition-time-sm $transition-fn;
  .contact-title {
    & * {
      color: $text-white !important;
    }
  }
  .contact-info {
    .info-item {
      margin-bottom: $m-2;
      padding: $p-1 - 0.2 $p-1;
      border-radius: $rounded-md;
      transition: background-color $transition-time-sm $transition-fn;
      & * {
        color: $text-white;
      }
    }
    .info-network {
      margin-top: $m-2;
      transform: translateY(0);
      transition: transform $transition-time-sm $transition-fn;
      & path {
        transition: color $transition-time-sm $transition-fn;
      }
      &:hover {
        transform: translateY(-20%);
      }
    }
  }
}

// Theme
.contact-blue {
  background: $bg-blue;
  .contact-info {
    .info-item {
      background: $bg-blue;
    }
    .info-network {
      path {
        color: $text-blue;
      }
    }
  }
}

.contact-green {
  background: $bg-green;
  .contact-info {
    .info-item {
      background: $bg-green;
    }
    .info-network {
      path {
        color: $text-green;
      }
    }
  }
}

.contact-red {
  background: $bg-red;
  .contact-info {
    .info-item {
      background: $bg-red;
    }
    .info-network {
      path {
        color: $text-red;
      }
    }
  }
}

.contact-orange {
  background: $bg-orange;
  .contact-info {
    .info-item {
      background: $bg-orange;
    }
    .info-network {
      path {
        color: $text-orange;
      }
    }
  }
}

.contact-yellow {
  background: $bg-yellow;
  .contact-info {
    .info-item {
      background: $bg-yellow;
    }
    .info-network {
      path {
        color: $text-yellow;
      }
    }
  }
}

.contact-purple {
  background: $bg-purple;
  .contact-info {
    .info-item {
      background: $bg-purple;
    }
    .info-network {
      path {
        color: $text-purple;
      }
    }
  }
}

.contact-pink {
  background: $bg-pink;
  .contact-info {
    .info-item {
      background: $bg-pink;
    }
    .info-network {
      path {
        color: $text-pink;
      }
    }
  }
}
