.cursor {
  height: $h-3;
  width: $w-3;
  border-radius: $rounded-full;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: transform $transition-time-xs linear, border-color $transition-time-sm $transition-fn,
    background-color $transition-time-sm $transition-fn, width $transition-time-sm $transition-fn,
    height $transition-time-sm $transition-fn;
  z-index: 9999;
  will-change: transform;
  .cursor-dot {
    width: $w-1 - 0.5;
    height: $h-1 - 0.5;
    opacity: 1;
    border-radius: $rounded-full;
    transition: opacity $transition-time-sm $transition-fn,
      background-color $transition-time-sm $transition-fn;
  }
}

.cursor-hover {
  border-color: transparent !important;
  .cursor-dot {
    opacity: 0;
  }
}

// Theme
.cursor-blue {
  border-color: $bg-blue;
  .cursor-dot {
    background: $bg-blue;
  }
}

.cursor-green {
  border-color: $bg-green;
  .cursor-dot {
    background: $bg-green;
  }
}

.cursor-red {
  border-color: $bg-red;
  .cursor-dot {
    background: $bg-red;
  }
}

.cursor-orange {
  border-color: $bg-orange;
  .cursor-dot {
    background: $bg-orange;
  }
}

.cursor-yellow {
  border-color: $bg-yellow;
  .cursor-dot {
    background: $bg-yellow;
  }
}

.cursor-purple {
  border-color: $bg-purple;
  .cursor-dot {
    background: $bg-purple;
  }
}

.cursor-pink {
  border-color: $bg-pink;
  .cursor-dot {
    background: $bg-pink;
  }
}

.cursor-blue.cursor-hover {
  background: $bg-blue-rgba-sm;
}

.cursor-green.cursor-hover {
  background: $bg-green-rgba-sm;
}

.cursor-red.cursor-hover {
  background: $bg-red-rgba-sm;
}

.cursor-orange.cursor-hover {
  background: $bg-orange-rgba-sm;
}

.cursor-yellow.cursor-hover {
  background: $bg-yellow-rgba-sm;
}

.cursor-purple.cursor-hover {
  background: $bg-purple-rgba-sm;
}

.cursor-pink.cursor-hover {
  background: $bg-pink-rgba-sm;
}
