.experiences {
  .experiences-title,
  .experiences-work {
    opacity: 0;
    transform: translateY(-10%);
    transition: opacity $transition-time-md $transition-fn, transform $transition-time-md $transition-fn;
  }
  .experiences-work {
    transform: translateX(-10%);
  }
  .experiences-work {
    .work-company {
      transition: color $transition-time-sm $transition-fn;
    }
  }
}

.experiences-blue {
  .experiences-work {
    .work-company {
      color: $text-blue;
    }
  }
}

.experiences-green {
  .experiences-work {
    .work-company {
      color: $text-green;
    }
  }
}

.experiences-red {
  .experiences-work {
    .work-company {
      color: $text-red;
    }
  }
}

.experiences-orange {
  .experiences-work {
    .work-company {
      color: $text-orange;
    }
  }
}

.experiences-yellow {
  .experiences-work {
    .work-company {
      color: $text-yellow;
    }
  }
}

.experiences-pink {
  .experiences-work {
    .work-company {
      color: $text-pink;
    }
  }
}

.experiences-purple {
  .experiences-work {
    .work-company {
      color: $text-purple;
    }
  }
}

// Reveal
.experiences-reveal {
  .experiences-title,
  .experiences-work {
    opacity: 1;
    transform: translate(0);
  }
}
