.portfolio-header {
  padding: $p-1 $p-5 * 4;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  .header-menu {
    
  }
}

@keyframes sticky {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
