.slogan-love-coding {
  .love-coding-suffix {
    transition: color $transition-time-md $transition-fn;
  }
}

.slogan-love-coding-blue {
  .love-coding-suffix {
    color: $text-blue;
  }
}

.slogan-love-coding-green {
  .love-coding-suffix {
    color: $text-green;
  }
}

.slogan-love-coding-red {
  .love-coding-suffix {
    color: $text-red;
  }
}

.slogan-love-coding-orange {
  .love-coding-suffix {
    color: $text-orange;
  }
}

.slogan-love-coding-yellow {
  .love-coding-suffix {
    color: $text-yellow;
  }
}

.slogan-love-coding-purple {
  .love-coding-suffix {
    color: $text-purple;
  }
}

.slogan-love-coding-pink {
  .love-coding-suffix {
    color: $text-pink;
  }
}
